.contact {
  min-height: 100vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-title_container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.contact-title {
  font-size: 60px;
}

.contact-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 30px;
}

.contact-div1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;

}
.contact-div2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-description {
  padding: 20px;
  font-size: 20px;
}

.contact-img {
  width: 300px;
  height: 450px;
}

.form {
  display: flex;
  flex-direction: column;
}

.email-input {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #dde6ed;
}

.name-input {
  padding: 15px;
  margin-bottom: 7px;
  border: 1px solid #dde6ed;
}

.text-area {
  resize: none;
  width: 250px;
  height: 100px;
  padding: 15px;
  border: 1px solid #dde6ed;
}

.form-label {
  padding: 7px 0;
}

.btn-send_container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.send-btn {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: "Noto Serif", serif;
  font-size: 16px;

  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.send-btn:hover,
.send-btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.send-btn:hover {
  transform: translateY(-1px);
}

.send-btn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
input:focus {
  outline: 2px solid #e1f4f3;
}

textarea:focus {
  outline: 2px solid #e1f4f3;
}

@media (max-width: 767px) {
    .contact-div1{
        display: flex;
        flex-direction: column;

    }

    .text-area{
        width: 200px;
    }

.contact-parent{
    margin: 0;
}

    .contact-img{
        height: 100%;
        width: 100%;
    }


}

@media (max-width: 1100px) {
    .contact-parent{
        display: flex;
        flex-direction: column;
    }

    .contact-div1{
        margin-bottom:50px ;
    }
}
