
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
}

.cursor{
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50%;
  position: fixed;
  z-index: 100;
  transition-duration: 200ms;
}

.white-cursor{
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: fixed;
  z-index: 100;
  transition-duration: 200ms;
}

@media (max-width: 767px) {

  .cursor{
    display: none;
  }
  
  .white-cursor{
    display: none;
  }
}